production:
  adapter: mysql2
  database: ${appconfig.roles.db.dbname.maindb}
  username: ${appconfig.roles.db.dbuser.maindb}
  password: ${appconfig.roles.db.dbusercredential.maindb}
  host: ${appconfig.roles.db.privateipaddress}
