production:
  adapter: mysql
  encoding: UTF8
  database: ${appconfig.roles.db.dbname.maindb}
  username: ${appconfig.roles.db.dbuser.maindb}
  password: ${appconfig.roles.db.dbusercredential.maindb}
  host: ${appconfig.roles.db.privateipaddress}
