attachment_storage_dir: /var/cldstr/wagn.org/wagn/ws/${appconfig.appconfigid}/files
database_config_file: /var/cldstr/wagn.org/wagn/ws/${appconfig.appconfigid}/database.yml
log_file: /var/log/cldstr+wagn.org+wagn+ws/${appconfig.appconfigid}.log
pack_dirs: /usr/cldstr/wagn.org/wagn/ws/web/lib/packs, /var/cldstr/wagn.org/wagn/ws/${appconfig.appconfigid}/packs
cache_store: dalli_store
mem_cache_servers: 127.0.0.1:11211
smtp:
  openssl_verify_mode: none
#  address: ${hostname}.cldstr.net
